.article-item{


  &__img{
    margin-bottom: 41px;
    max-width: 100%
  }

  &__footer{
    @include font-helvetica-bold;
    @include font(14px, 28px);
    margin-bottom: 10px;
  }

  &__time{
    margin-right: 12px;
  }

  &__author{
    font-style: normal;

    &::before{
      display: inline-block;
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: $color-orange;
      margin-right: 10px;
      vertical-align: middle;
    }
  }

  &__title{
    max-width: 479px;
    margin: 0 auto 10px;

    @include bp(xl){
      margin: 0 0 10px;
    }
  }
  

  &__descr{
    @include reset-model;
    max-width: 453px;
    margin: 0 auto;

    @include bp(xl){
      margin: 0 0 10px;
    }
  }
}