.gamb {
  @include reset-button;
  font-size: 0;
  width: 30px;
  height: 30px;

  &::before {
    content: "";
    display: block;
    background-color: $color-orange;
    height: 3px;
    box-shadow: 0 10px 0 0 $color-orange,
                0 -10px 0 0 $color-orange;
  }
}