.header{
  background-color: $color-bg-promo;
  padding-top: 30px;

  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav{

    margin-bottom: 30px;
    
    @include bp(md){
      margin-bottom: 0;
      margin-right: 100px;
    }

    @include bp(lg){
      margin-left: 25px;
      margin-right: 300px;
    }
    
  }

  &__menu{
    z-index: 1;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    &_active{
      display: block;
    }

    @include bp(md){
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__gamb{
    @include bp(md){
      display: none;
    }
  }
}

