.projects-item{

  @include bp(xl){
    display: flex;
    justify-content: space-between;
  }
  
  &__info{

    @include bp(xl){
      max-width: 330px;
      margin-top: 345px;
      margin-right: 10px;
    }
  }

  &__title{
    margin-bottom: 5px;
    margin-top: 20px;

    @include bp(xl){
      margin-bottom: 10px;
    }
  }

  &__descr{
    @include reset-model;
    margin-bottom: 30px;
    @include bp(xl){
      margin-bottom: 0;
    }
  }

  &__img{
    max-width: 100%;
  }
}